<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
  <nav style="background-color: grey;" class="navbar navbar-dark  justify-content-between">
    <a href="" class="navbar-brand">BioWasteTransit</a>
    <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/null/external-clean-wash-hands-flatart-icons-outline-flatarticons.png"/>

    <form class="form-inline">
      <a class="navbar-brand" href="/logout"><img src="https://img.icons8.com/color-glass/48/000000/power-off-button.png"/></a> 
    </form>
  </nav>
<style>
    .mo{
        background-color: rgb(104, 156, 176) !important;
        padding: 50px;
        margin: 50px;
        border-radius: 25px;
        color: white;
    }


    a{
        color: white;
        text-decoration: none;
    }
</style>
    <div class="container-fluid">
    
     <div style="justify-content: center" class="row">
    
        <div class="col-lg-8">
    
            <div class="row mt-5 mb-3">
                <h1>
                    Your Booking Details 
                </h1>
            </div>
    
            <form action="/bookingdetails" method="post">

    <div class="row" style="justify-content: center;">
                    <div class="col-lg-8">
                       
  <table class="table">
    <thead>
        <tr>
          <th scope="col">Sl.no</th>
          <th scope="col">Driver Name</th>
          <th scope="col">Destination</th>
          <th scope="col">Status</th>
          <th scope="col">OTP</th>
        </tr>
        
      </thead>
      <tbody>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          
          <td>  {OTP}  </td>
         
          
          
        </tr>
      </tbody>
    </table> 
  </table>  

</div>
</div>
            </form>
        </div></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
</body>
</html>