<%- include("partials/header") -%>


  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline">
      <a class="navbar-brand" href="/previousOrder">Previous orders</a>
      <a class="navbar-brand" href="/newOrder">New order </a>  
    </form>
  </nav>

<%- include("partials/footer") -%>