<%- include("partials/header") -%>

<div class="row" style="justify-content: center;">
  <div class="col-lg-12">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">BioWasteTransit</a>
        <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/null/external-clean-wash-hands-flatart-icons-outline-flatarticons.png"/>
       
      </div>
    </nav>
  
  <div class="container-fluid">
  
   <div style="justify-content: center" class="row">
  
      <div class="col-lg-8">
  
          <div class="row mt-5 mb-3">
              <h1>
                  Login to your Account
              </h1>
          </div>
      
 
           
<form action="/login" method="post">
  <div class="form-row align-items-center">
 
  
    <div class="col-lg-4">
      <div class="input-group mb-3">
          <span class="input-group-text"><img src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/24/null/external-user-user-tanah-basah-glyph-tanah-basah-4.png"/></span>
          <div class="form-floating">
            <input name="username" type="text" class="form-control"  placeholder="Username">
            <label>Username</label>
          </div>
        </div>
  </div>  

   <div class="col-lg-4">
 
      <div class="input-group mb-3">
          <span class="input-group-text"> <img src="https://img.icons8.com/material-rounded/24/null/visible.png"/> <input  type="checkbox" onclick="myFunction()"> </span>
          <div class="form-floating">
      <input name="password" id="password" type="password" class="form-control"  placeholder="Password">
      <label  class="form-label">Password</label>
  </div> 
      </div>
  </div>

  <div class="col-lg-4">
    <button style="width: 100%;" class="btn btn-success" type="submit">Log In</button>
    
  </div>

    
  </div>
</form>
  </div>
</div>


<script>
  function myFunction() {
var x = document.getElementById("password");
if (x.type === "password") {
x.type = "text";
} else {
x.type = "password";
}
}
</script>
<%- include("partials/footer") -%>