<%- include("partials/header") -%>

<style>
    .mo{
        background-color: blueviolet !important;
        padding: 50px;
        margin: 50px;
        border-radius: 25px;
    }

    /* body{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-image: url('https://images.pexels.com/photos/247786/pexels-photo-247786.jpeg?auto=compress&cs=tinysrgb&w=600');
    } */
</style>

  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline">
      <a class="navbar-brand" href="/previousOrder">Previous orders</a>
      <a class="navbar-brand" href="/newOrder">New order </a>  
    </form>
  </nav>

  <div class="row" style="width: 100%;">
    <div style="background-color: black; height: 25%; width: 100%; padding: 25px;" class="col-lg-12">
            <div class="col-lg-12">
                <h2 style="color: aliceblue;">{Hospital name}</h2>

                <hr style="color: aliceblue; width: 100%;">

                <h5 style="color: aliceblue;">
                    Phno. : <span> 8846464648 </span>
                </h5>

            </div>
    </div>
</div>

  <div   class="main container">




<div class="row">
    
       
            <div  class="col-lg-4 mo">
                <center>
                    <h1>
                        gg
                    </h1>
                </center>
            </div>
            <br>

            <div  class="col-lg-4 mo">
                <center>
                    gg
                </center>
            </div>
       
    </div>
    <div class="row">
    
       
        <div  class="col-lg-4 mo">
            <center>
                gg
            </center>
        </div>
        <br>

        <div  class="col-lg-4 mo">
            <center>
                gg
            </center>
        </div>
   
</div>
</div>

  </div>

<%- include("partials/footer") -%>
