<%- include("partials/header") -%>

<nav style="background-color: grey;" class="navbar navbar-dark  justify-content-between">
    <a href="" class="navbar-brand">BioWasteTransit</a>
    <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/null/external-clean-wash-hands-flatart-icons-outline-flatarticons.png"/>

    <form class="form-inline">
      <a class="navbar-brand" href="/logout"><img src="https://img.icons8.com/color-glass/48/000000/power-off-button.png"/></a> 
    </form>
  </nav>
<style>
    .mo{
        background-color: rgb(104, 156, 176) !important;
        padding: 50px;
        margin: 50px;
        border-radius: 25px;
        color: white;
    }


    a{
        color: white;
        text-decoration: none;
    }


    /* body{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-image: url('https://images.pexels.com/photos/247786/pexels-photo-247786.jpeg?auto=compress&cs=tinysrgb&w=600');
    } */
</style>

 

  <div class="row" style="width: 100%; ;margin-right: 0px;margin-left: 0px;">
    <div style="background-color: black; height: 25%; width: 100%; padding: 25px;" class="col-lg-12">
            <div class="col-lg-12">
                <h2 style="color: white;">{Plant name}</h2>

                <hr style="color: white; width: 100%;">
                <h5 style="color: white;">
                    Username:{}
                </h5>
                <h5 style="color: white;">
Email Id:{}                </h5>
</h5>
<h5 style="color: white;">
Address:{}                </h5>



                <h5 style="color: white;">
                    Phno. : <span> 8846464648 </span>
                </h5>

            </div>
    </div>
</div>

  <div   class="main container">




<div class="row">
    
       
            <div  class="col-lg-4 mo">
                <center>
<span><img src="https://img.icons8.com/ios/78/null/event-accepted-tentatively.png"/></span>
                    <h2>
                        <a href=""> Upcoming Orders</a>
                    </h2>
                </center>
            </div>
            <br>

            <div  class="col-lg-4 mo">
                <center>
<span><img src="https://img.icons8.com/external-glyph-silhouettes-icons-papa-vector/78/null/external-Verified-Drivers-taxi-service-glyph-silhouettes-icons-papa-vector.png"/></span>                   
                <h2>
                    <a href=""> Manage Drivers</a>
                </h2> 
                </center>
            </div>
       
    </div>
    <div class="row">
    
       
        <div  class="col-lg-4 mo">
            <center>
                <span><img src="https://img.icons8.com/external-sbts2018-lineal-color-sbts2018/78/null/external-track-delivery-ecommerce-basic-1-sbts2018-lineal-color-sbts2018.png"/></span>
                <h2>
                    <a href=""> Track Orders  </a>
            </h2>
            </center>
        </div>
        <br>

        <div  class="col-lg-4 mo">
            <center>
                <span><img src="https://img.icons8.com/external-icongeek26-outline-icongeek26/78/null/external-box-logistics-delivery-icongeek26-outline-icongeek26.png"/></span>

                <h2>
              <a href="">  Completed Orders</a>
            </h2>
            </center>
        </div>
   
</div>
</div>

  </div>

<%- include("partials/footer") -%>
